/* */
/* BRANDS and CATEGORIES */
/* */

.company_brand_wrapper, .company_category_wrapper {
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
}

.company_brand_wrapper .preview-image-wrapper, .company_category_wrapper .preview-image-wrapper  {
    height: 150px;
    width: 150px;
    line-height: 150px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.company_brand_wrapper .preview-image-wrapper img {
    max-height: 150px;
    max-width: 150px;
}

.company_category_wrapper .preview-image-wrapper  {
    height: 100px;
    width: 150px;
    line-height: 100px;
}
.company_category_wrapper .preview-image-wrapper img {
    max-height: 100px;
    max-width: 100px;
}

/* */
/* BLOCKS */
/* */

.mainbox-container {
    margin-bottom: 10px;
}


/* */
/* VENDOR PAGE */
/* */
.company-page-top-links div.company_buttons {
    float: none;
    margin-top: 10px;
}
.company-page-top-links div.company_buttons a {
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #acacac;
}
.company-page-top-links div.company_buttons a:first-child {
    margin-left: 0;
}