@CHARSET "UTF-8";
.vplayer-layer-pos{
	position: absolute; top: 416px;
	width: 480px;
	height: 360px;
}
.vplayer-layer-pos-rtl{
	right: 744px;
}
.vplayer-layer-pos-ltr{
	left: 744px;
}
#videoplayer7267{
	display: inherit;
	position: relative;
	width: 480px;
	height: 360px;
}
