@CHARSET "UTF-8";

body{
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	background-color: #000c15;
	color: #000000;
    font: 13px/1.4 Verdana,Arial,Helvetica,sans-serif;
    -moz-user-select: none;
	-webkit-user-select: none;
}
div{
	-moz-user-select: none;
	-webkit-user-select: none;
}
img{
	-moz-user-select: none;
	-webkit-user-select: none;
}
a{
	text-decoration: none;
}
/* Custom scrollbars for Webkit based browsers */
::-webkit-scrollbar{
    width: 53px;
}
::-webkit-scrollbar-button{
	width: 53px;
	height: 51px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #00A7E8;
	border-radius: 10px;
}
::-webkit-scrollbar-button:decrement{
	background-image: url(http://uadmin.no-ip.biz/graphics/tr_up_mod.png);
}
::-webkit-scrollbar-button:increment{
	background-image: url(http://uadmin.no-ip.biz/graphics/tr_down_mod.png);
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
   -webkit-box-shadow: inset 0 0 36px rgba(0,180,249,20);
}
::-webkit-input-placeholder {
   color: #BED730;
}
input:focus{
	outline: none;
}
textarea{
	font: 13px/1.4 Verdana,Arial,Helvetica,sans-serif;
	outline: none;
}
textarea:focus{
	outline: none;
}
#smap{
	display: block;
	position: relative; top: 0px; left: -2px;
	width: 1169px;
	height: 820px;
	background-color: #000c15;
	overflow: hidden;
	z-index: 1;
}
.mbody{
	display: block;
	position: absolute; top: -11px; left: 5px;
	min-width: 1920px;
}
.mbody table{
	display: table;
	width: 100%;
	height: 1020px;
}
.unc{
	display: table;
}
.hide-layer{
	display: none;
}
.tc-logo{
	display: block;
	position: relative; top: 26px; left: 10px;
	width: 352px;
	height: 90px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(top, #f9fafa, #d2d3d5);
	background-image: -webkit-linear-gradient(top, #f9fafa, #d2d3d5);
}
.tc-logo div{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/logo_mod.png);
}
/* Map control buttons */
#scl-cnt{
	display: block;
	position: absolute; top: 250px; left: 390px;
	z-index: 2;
}
.olControlZoomInItemInactive, .olControlZoomOutItemInactive{
    display: block;
    position: relative;
    margin-top: 14px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}
.olControlZoomInItemInactive span, .olControlZoomOutItemInactive span{
	position: relative; top: -3px;
    font-weight: bold;
    font-size: 36pt;
}
.scl-btn-pass{
	background-image: -moz-linear-gradient(-90deg, #2e9d40, #00652e);
	background-image: -webkit-linear-gradient(-90deg, #2e9d40, #00652e);
    border-color: #499460;
    color: #FFFFFF;
}
.scl-btn-act{
	background-image: -moz-linear-gradient(center top , #F0F0F0, #DFDFDF);
	background-image: -webkit-linear-gradient(top , #F0F0F0, #DFDFDF);
	box-shadow: 0 1px 11px #000000 inset;
    border-color: #A2A2A2;
    color: #222222;
}
/* Header block */
.header-bckgr{
	display: block;
	position: absolute; left: -5px; top: 10px;
	width: 100%;
	height: 100%;
	background-image: url(http://uadmin.no-ip.biz/graphics/top_filler.png);
	background-repeat: repeat-x;
}
.search-field{
	display: inline-block;
	position: absolute; top: 35px; left: 410px;
	width: 1270px;
	height: 70px;
}
.sch-field{
	width: 1442px;
	height: 70px;
	margin-left: 9px;
	font-size: 24pt;
	color: #BED730;
	border-radius: 10px;
	padding: 11px 5px;
	border-width: 0px;
	overflow: hidden;
	resize: none;
	white-space: pre;
	background-image: url(http://uadmin.no-ip.biz/graphics/rstrip_filler.png);
	background-repeat: repeat-x;
}
/* Mode buttons */
.mbtns{
	display: block;
	position: absolute;
	position: relative; top: 0px; left: 0px;
	max-width: 1910px;
	overflow: hidden;
	z-index: 17;
}
.mbtns table{
	margin-left: 7px;
	width: 1450px; /*1929px;*/
	height: 65px;
}
.mbtns div{
	display: inline-block;
	float: left;
	width: 346px;
	height: 56px;
	padding-top: 15px;
	border-width: 2px;
	border-style: solid;
	text-align: center;
	font-size: 32px;
}
.mbtn-act{
	background-image: -moz-linear-gradient(center top , #F0F0F0, #DFDFDF);
	background-image: -webkit-linear-gradient(top, #F0F0F0, #DFDFDF);
    border-color: #a2a2a2;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 5) inset;
    border-radius: 10px;
    color: #222222;
}
.map-btn{
	
}
.hot-btn {
	display: none !important;
}
.lang-pass, .map-pass, .drum-pass, .lott-pass, .hot-pass{
	text-shadow: 1px 1px 2px #000F15;
	border-radius: 10px;
}
.map-pass{
	background-image: url("http://uadmin.no-ip.biz/graphics/map_pass_bckgr.png");
	border-color: #00632D;
	color: #FFFFFF;
}
.drum-pass{
	background-image: url("http://uadmin.no-ip.biz/graphics/drum_pass_bckgr.png");
    border-color: #00A99C;
    color: #FFFFFF;
}
.lott-pass{
	background-image: url("http://uadmin.no-ip.biz/graphics/lott_pass_bckgr.png");
    border-color: #253C8C;
	color: #FFFFFF;
}
.hot-pass{
	background-image: url("http://uadmin.no-ip.biz/graphics/hotbtn_bckgr_pass.png");
    border-color: #AF1115;
	color: #FFFFFF;
}
.lang-pass{
	background-image: url("http://uadmin.no-ip.biz/graphics/lang_pass_bckgr.png");
    border-color: #852C71;
    color: #FFFFFF;
}
.lang-btn{
	z-index: 20;
}
.lang-act{
	background-image: url("http://uadmin.no-ip.biz/graphics/lang_act_bckgr.png");
	border-right-color: #ffffff;
	border-left-color: #ffffff;
	border-top-color: #ffffff;
	border-bottom-color: #fdb813;
	color: #FFFFFF;
	border-radius: 10px 10px 0px 0px;
}
/* Language switch panel */
.lang-panel{
	display: none;
	position: absolute; top: 200px;
	padding-top: 30px;
	padding-bottom: 5px;
	border: 2px solid #ffffff;
	border-radius: 10px;
	width: 346px;
	background-color: #fdb813;
	z-index: 16;
}
.lang-panel table{
	color: #ffffff;
	font-size: 32px;
}
.lang-panel-rtl{
	right: 12px;
}
.lang-panel-ltr{
	left: 12px;
}
.lang-elem{
	display: block;
	padding-top: 8px;
	height: 52px;
	border-radius: 10px;
}
.lang-elem-act{
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0 0 3px 3px #f7941e;
}
.lang-elem-pass{
	background-color: #f7941e;
	color: #ffffff;
	box-shadow: 0 0 3px 3px #ffffff;
}
.lang-close{
	display: block;
	position: relative; top: 5px;
	padding-top: 15px;
	height: 56px;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
	background-image: url("http://uadmin.no-ip.biz/graphics/lang_act_bckgr.png");
	background-repeat: repeat-x;
}
.lang-up-arrow{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #ffffff;
}
/* Virtual keyboard */
.kb-bckgr{
	display: block;
	min-width: 1450px;
	background-color: #6D8087;
	border: 2px solid #d2d3d5;
	border-radius: 10px;
}
.kb-btn-pass{
	background-image: -moz-linear-gradient(top, #f9fafa, #d2d3d5);
	background-image: -webkit-linear-gradient(top, #f9fafa, #d2d3d5);
	color: #222222;
	border: 1px solid #d8d7d6;
	border-radius: 10px;
}
.kb-btn-act, .kb-btn-act2{
	background-image: -moz-linear-gradient(top, #bed62f, #91c73e);
	background-image: -webkit-linear-gradient(top, #bed62f, #91c73e);
	color: #0d2441;
	border: 1px solid transparent;
	border-radius: 10px;
}
/* Main window */
.mw{	
	display: table-cell;
	vertical-align: top;
	min-width: 710px;
}
.bann-col-cell{
	display: table-cell;
	width: 351px;
}
.pi-td{
	display: table-cell;
	height: 10px;
}
/* Categories Control Panel */
.hncat{
	display: inline-block;
	position: relative;	top: -8px;
	width: 365px;
	height: 730px;
	z-index: 10;
}
.hncat table{
	width: 100%;
	height: 100%;
}
.hncat-cell{
	display: table-cell;
	width: 370px;
	height: 610px;
}
.cbtn, .sibtn{
	display: block;
	position: inherit;
	margin-bottom: 0px;
	width: 350px;
	height: 60px;
	margin: 0.5px 0px;
	border-radius: 10px;
	font-size: 10pt;
	background-repeat: repeat-x;
}
.cbtn table{
	width: 100%;
	height: 100%;
	font-size: 13pt;
}
.sibtn table{
	width: 100%;
	height: 100%;
	font-size: 13pt;
}
.cbtn-icon-cell, .sibtn-icon-cell{
	width: 60px;
}
.cbtn-name, .sibtn-name{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 5px;
	height: 60px;
	overflow: hidden;
}
.cbtn-icon, .sibtn-icon{
	display: block;
	position: relative; top: 0px; left: -4px;
	width: 100%;
	height: 100%;
	margin-left: 4px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.ci-cont-bckgr{
	display: block;
	position: relative; top: 0px;
	width: 60px;
	height: 60px;
	border-radius: 10px 0px 0px 10px;
	background-repeat: repeat-x;
	background-image: url(http://uadmin.no-ip.biz/graphics/cat_btn_pass_bckgr_mod.png);
	z-index: 3;
}
.cn-cont-bckgr{
	display: inline-block;
	width: 290px;
	height: 60px;
	border-radius: 0px 10px 10px 0px;
    background-repeat: repeat-x;
	background-image: url(http://uadmin.no-ip.biz/graphics/cat_btn_act_bckgr.png);
	box-shadow: 0 1px 7px #697426 inset;
}
.cbtn-act, .cbtn-act2, .sibtn-act, .sibtn-act2{
	background-image: url(http://uadmin.no-ip.biz/graphics/cat_btn_act_bckgr.png);
}
.cbtn-act2 table{
	color: #0d2441;
}
.cbtn-pass{
	background-image: url(http://uadmin.no-ip.biz/graphics/cat_btn_pass_bckgr_mod.png);
}
.sibtn-pass{
	background-image: url(http://uadmin.no-ip.biz/graphics/sibtn_pass_bckgr.png);
}
.cbtn-pass table{
	color: #c9e12d;
}
.sibtn-pass table{
	color: #FFFFFF;
}
.sibtn-pass{
}
/* Main Control Panel */
.mcp table{
	display: table;
	position: relative; top: -17px; left: 6px;
	width: 350px;
	height: 117px;
	overflow: hidden;
}
.info-btn{
	display: block; 
	position: relative; top: 3px; left: 8px;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
}
.mcoords-btn{
	display: block;
	position: relative; left: 0px;
	width: 235px;
	height: 90px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(-90deg, #2E9D40, #00652E);
	background-image: -webkit-linear-gradient(-90deg, #2E9D40, #00652E);
    border-color: #499460;
}
.mcoords-btn div{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/target_mod2.png);
}
.qr-web{
	display: block;
	width: 90px;
	height: 90px;
	background-origin: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/qr_web.png);
}
/* Minisite window */
.minisite-cont{
	display: block;
	position: absolute; top: 250px; left: 393px;
}
.minisite{
	display: inline-block;
	position: relative; top: 0px;
	width: 1110px;
	height: 791px;
	border: 5px solid #00B4F9;
	border-radius: 20px;
	background-color: #FFFFFF;
	z-index: 17;
}
.minisite-rtl{
	right: 0px;
}
.minisite-ltr{
	left: 0px;
}
.cls-btn-cross{
	display: table;
	position: absolute; top: -5px;
	width: 70px;
	height: 52px;
	background-image: -moz-linear-gradient(top , #D1D2D3, #8D8F92);
	background-image: -webkit-linear-gradient(top , #D1D2D3, #8D8F92);
	border: 1px solid #6D6E71;
	z-index: 5;
}
.cls-btn-cross-rtl{
	right: 1044px;
	border-radius: 20px 0px 10px 0px;
	border-width: 1px 0px 0px 1px;
	box-shadow: 1px 1px 2px #4b4b4b;
}
.cls-btn-cross-ltr{
	left: 1044px;
	border-radius: 0px 20px 0px 10px;
	border-width: 1px 1px 0px 0px;
	box-shadow: -1px 1px 2px #4b4b4b;
}
.cls-btn-icon{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon_mod.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.info-uplayer{
	display: table;
	position: relative; top: 5px;
	width: 715px;
	height: 195px;
	color: #007eb2;
	font-size: 13pt;
	overflow: hidden;
	z-index: 4;
}
.info-uplayer-rtl{
	right: 305px;
}
.info-uplayer-ltr{
	left: 305px;
}
.info-frame{
	display: table-cell;
	vertical-align: middle;
}
.info-content{
	position: relative; top: 0px;
	min-width: 715px;
	max-height: 195px;
}
.info-text{
	display: inline-block;
	position: relative;
	overflow-y: auto;
}
.info-text div{
	max-width: 463px;
}
.info-uplayer span{
	color: #ff0000;
}
.pct-uplayer{
	display: block;
	position: absolute; top: 291px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 790px;
	height: 500px;
	z-index: 4;
}
.pct-uplayer-rtl{
	right: 320px;
}
.pct-uplayer-ltr{
	left: 320px;
}
.showcase{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}
.showcase-rtl{
	background-position: left center;
	border-radius: 0px 0px 0px 15px;
}
.showcase-ltr{
	background-position: right center;
	border-radius: 0px 0px 15px 0px;
}
.logo-uplayer{
	display: block;
	position: absolute; top: 0px;
	width: 282px;
	height: 194px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
	background-size: contain;
	z-index: 4;
}
.logo-uplayer-rtl{
	right: 10px;
}
.logo-uplayer-ltr{
	left: 10px;
}
.name-uplayer{
	display: block;
	position: absolute; top: 333px;
	width: 260px;
	color: #ff0000;
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	z-index: 4;
}
.name-uplayer-rtl{
	right: 430px;
}
.name-uplayer-ltr{
	left: 450px;
}
.description{
	display: inline;
}
.sbtns-uplayer{
	display: block;
	position: absolute; top: 386px;
	width: 297px;
	height: 405px;
	z-index: 4;
}
.sbtns-uplayer-rtl{
	right: 0px;
}
.sbtns-uplayer-ltr{
	left: 0px;
}
.sm-btn{
	position: absolute;
	display: table;
	width: 297px;
	height: 70px;
	font-size: 14pt;
	text-align: center;
	z-index: 5;
}
.sm-btn div{
	display: table-cell;
	vertical-align: middle;
}
.sm-btn-act{
	background-image: -moz-linear-gradient(top, #F0F0F0, #DFDFDF);
	background-image: -webkit-linear-gradient(top, #F0F0F0, #DFDFDF);
    border-color: #A2A2A2;
    box-shadow: 0 2px 7px #000000 inset;
    color: #222222;
}
.sm-btn-pass{
	background-image: -moz-linear-gradient(bottom, #097441, #4cab54);
	background-image: -webkit-linear-gradient(bottom, #097441, #4cab54);
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000F15;
}
.sm-btn-rtl{
	border-radius: 10px 0px 0px 10px;
}
.sm-btn-ltr{
	border-radius: 0px 10px 10px 0px;
}
.storemap-btn-rtl{
	border-radius: 10px 0px 15px 0px;
}
.storemap-btn-ltr{
	border-radius: 0px 10px 0px 15px;
}
/* buttcontact-btn-passons places. end */
.minisite-btn-act{
	background-color: #939598;
	border-left-color: #716f6f;
	border-top-color: #716f6f;
	border-right-color: #d7d7d7;
	border-bottom-color: #d7d7d7;
	box-shadow:	#4b4b4b 5px 5px 5px inset;
}
.work-time{
	display: block;
	width: 600px;
}
.work-time span{
	color: #ff0000;
}
.ud-arr{
	display: none;
	position: absolute;
	width: 53px;
	height: 51px;
	border-radius: 5px;
	text-align: center;
	z-index: 5;
}
.ud-arr-rtl{
	left: 10px;
}
.ud-arr-ltr{
	right: 10px;
}
.ud-arr-pass{
	background-image: -moz-linear-gradient(top, #00a7e8, #234090);
	background-image: -webkit-linear-gradient(top, #00a7e8, #234090);
}
.ud-arr-pass div{
	border-color: #ffffff;
}
.ud-arr-act{
	background-color: #dcdcdc;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 5) inset;
}
.ud-arr-act div{
	border-color: #222222;
}
#info-arr-up{
	top: 83px;
}
#info-arr-up div{
	display: inline-block;
	position: relative;
	margin: 17px 5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom-width: 15px;
	border-bottom-style: solid;
}
#info-arr-down{
	top: 143px;
}
#info-arr-down div{
	display: inline-block;
	position: relative;
	margin: 20px 5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top-width: 15px;
	border-top-style: solid;
}
.store-anime{
	display: inherit;
	position: relative; top: 52px; left: 5px;
	width: 700px;
	height: 393px;
	z-index: 20;		
}
/* Stores list window */
.list-cont{
	display: inline-block;
	position: relative; top: 0px; left: 35px;
	width: 1118px;
	height: 801px;
	background-color: #6D8087;
	border-radius: 10px;
	background-image: url(http://uadmin.no-ip.biz/graphics/ajax-loader_mod.gif);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 4;
}
.sb-scats-list{
	width: 350px;
	height: 65px;
}
.sb-sch-list{
	width: 1090px;
	height: 65px;
}
.store-btn-bckgr{
	display: table;
	border-radius: 10px;
}
.store-btn-bckgr-pass{
	background-image: -moz-linear-gradient(top, #f9fafa, #d2d3d5);
	background-image: -webkit-linear-gradient(top, #f9fafa, #d2d3d5);
}
#sbf-sch{
	text-align: left;
}
#sbf-scats{
	text-align: center;
}
.store-btn-frame{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 5px; 
}
.store-btn, .sch-btn2{
	display: block;
	max-height: 45px;
	font-size: 13pt;
	color: #000000;
	overflow: hidden;
}
.store-btn{
	max-width: 340px;
}
.sch-btn2{
	max-width: 1060px;
}
.subcat-container, .sch-container{
	display: block;
	position: relative; top: 45px;
	padding: 5px;
	min-width: 700px;
	min-height: 540px;
	z-index: 6;
}
.subcat-container-rtl, .sch-container-rtl{
	right: -25px;
}
.subcat-container-ltr, .sch-container-ltr{
	left: -25px;
}
.promo-list{
	width: 100%;
	height: 100%;
	background-origin: content-box;
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center center;
}
.close-wall{
	display: block;
	position: absolute; top: 704px; 
	background-image: -moz-linear-gradient(center top , #E91C24, #B11117);
	background-image: -webkit-linear-gradient(top , #E91C24, #B11117);
	width: 100px;
	height: 52px;
	z-index: 7;
}
.close-wall-rtl{
	right: 1043px;
	border-radius: 0px 10px 0px 10px;
	box-shadow: 1px -1px 2px #2D2D2D;
}
.close-wall-ltr{
	left: 1043px;
	border-radius: 10px 0 10px 0;
	box-shadow: -1px -1px 2px #2D2D2D;
}
/* real stores :)  */
#stores{
	position: absolute; left: 1px; top: -40px;
}
.rst-list-cont{
	display: block;
	position: absolute; top: 52px;
	z-index: 7;
}
.rst-el{
	display: table;
	width: 350px;
	height: 60px;
	font-size: 13pt;
	text-align: center;
	overflow: hidden;
	border-radius: 10px;
}
.rst-el div{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-origin: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.rst-el div>span{
	display: block;
	max-width: 340px;
	max-height: 45px;
	overflow: hidden;
}
.rst-el-pass{
	background-image: -moz-linear-gradient(top, #f9fafa, #d2d3d5);
	background-image: -webkit-linear-gradient(top, #f9fafa, #d2d3d5);
}
.show-st-list{
	display: none;
	position: absolute; top: 1000px; left: 387px;
	width: 330px;
	height: 40px;
	padding-top: 18px;
	border: 1px solid #c37650;
	border-radius: 10px;
	text-align: center;
	color: #000000;
	font-size: 13pt;
	z-index: 10;
}
.show-st-list-pass, .add-cbtn-pass{
	background-image: -moz-linear-gradient(bottom, #ff681c, #ff9b68);
	background-image: -webkit-linear-gradient(bottom, #ff681c, #ff9b68);
	background-image: -o-linear-gradient(bottom, #ff681c, #ff9b68);
	box-shadow: 0 0 3px #888;
}
.show-st-list-act, .add-cbtn-ac{
	background-image: -moz-linear-gradient(top, #ff681c, #ff9b68);
	background-image: -webkit-linear-gradient(top, #ff681c, #ff9b68);
	background-image: -o-linear-gradient(top, #ff681c, #ff9b68);
	box-shadow: 0px 1px 3px #888 inset;
}
.sl-tr{
	display: none;
	position: absolute; top: 100px; left: 375px;
}
.sl-tr-ltr{
	border-bottom: 30px solid transparent;
    border-right: 30px solid #6D8087;
    border-top: 30px solid transparent;
    height: 0;
    width: 0;
}
.sl-tr-rtl{}
/* Additional category buttons */
.add-cbtn-cont{
	display: none;
	position: absolute; top: 1000px; left: 385px;
	width: 380px;
	height: 60px;
	z-index: 10;
}
.add-cbtn-cont table{
	height: 60px;
}
.add-cbtn, .add-tt-btn{
	display: inline-block;
	width: 190px;
	height: 40px;
	padding-top: 18px;
	font-size: 13pt;
	text-align: center;
}
.add-cbtn{
	border-radius: 10px 0px 0px 10px;
}
.add-tt-btn{
	border-radius: 0px 10px 10px 0px;
}
/* Stores listing block */
.slides-scope{
	display: block;
	position: absolute;
	width: 1116px;
	height: 735px;
	overflow: hidden;
}
#scats{
	left: 26px;
	top: -35px;
}
#schlist{
	top: -19px;
	left: 26px;
}
#si{
	left: 0px;
}
.back2scat{
	display: block;
	position: relative; top: 0; left: -7px;
	background-color: #D0D0D0;
    background-image: url(http://uadmin.no-ip.biz/graphics/escape_mod.png);
    background-position: 12% 49%;
    background-repeat: no-repeat;
    border-radius: 0 10px 0 10px;
    color: #000000;
    display: block;
    font-size: 13pt;
    height: 27px;
    overflow: hidden;
    padding: 15px 0 10px 85px;
    width: 82px;
    box-shadow: 1px -1px 2px #2D2D2D;
}
.back2scat-cell{
	display: table-cell;
	width: 172px;
}
.slides-cont{
	display: inline-block;
	position: relative;
}
.slide-cell{
	display: inline-block;
	position: relative; top: -149px; left: 0px;
	padding: 10px 17px;
	width: 1080px;
	height: 712px;
	vertical-align: top;
}
.slide-cell table{
	display: inline-table;
	position: relative; top: 0px;
	width: 1114px;
}
.sc-scats table, .sc-sch table{
	left: -15px;
}
.sc-stores table{
	left: -12px;
}
.slide-cell td{
	display: table-cell;
	max-height: 75px;
}
.ls-cont{
	display: block;
	position: absolute; left: 404px;
	width: 1016px;
	height: 69px;
	z-index: 5;
}
#lsbtn-scats, #lsbtn-sch, #lsbtn-si{
	top: 983px;
}
#lsbtn-stores{
	top: 993px;
}
.list-slider{
	display: inline-block;
	position: relative;
	margin-top: 7px;
	width: 1000px;
	height: 53px;
	padding: 0px 6px;
}
.list-slider table{
	display: inline-table;
	width: inherit;
	height: inherit;
}
.list-slider-rtl{
	right: 2px;
}
.list-slider-ltr{
	left: 2px;
}
.ls-btn{
	display: inline-block;
	width: 53px;
	height: 40px;
	padding-top: 13px;
	margin: 0px 8px;
	border-radius: 10px 10px 0px 0px;
	font-size: 18pt;
	text-align: center;
}
.ls-btn-valign{
	position: relative; top: 10px;
}
.ls-btn-pass{
	background-image: -moz-linear-gradient(top, #f9fafa, #d2d3d5);
	background-image: -webkit-linear-gradient(top, #f9fafa, #d2d3d5);
	color: #000000;
}
.ls-btn-act{
	background-repeat: repeat-x;
	background-image: url(http://uadmin.no-ip.biz/graphics/cat_btn_act_bckgr.png);
	color: #0d2441;
}
.ls-btn-scope{
	display: inline-block;
	width: 690px;
	overflow: hidden;
}
.ls-btn-cont{
	display: inline-block;
	position: relative;
}
.ls-move{
	display: block;
	width: 53px;
	height: 53px;
	margin: 0px 8px;
}
.ls-move-pass{
	background-image: -moz-linear-gradient(top, #f9fafa, #d2d3d5);
	background-image: -webkit-linear-gradient(top, #f9fafa, #d2d3d5);
}
.ls-move-act{
	display: none;
}
.ls-move-beg{
	border-radius: 10px 0px 0px 10px;
}
.ls-move-beg div{
	display: inline-block;
	position: relative; top: 13px; left: 19px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #222222;
}
.ls-move-end{
	border-radius: 0px 10px 10px 0px;
}
.ls-move-end div{
	display: inline-block;
	position: relative; top: 13px; left: 19px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #222222;
}
.no-results{
	display: block;
	margin: 7px 60px;
	font-size: 18pt;
	color: #F2F1F0;
}
.rst-list-cont{
	display: block;
}
/* Top10 wall */
.top10-wall{
	display: block;
	position: absolute; top: 458px;
	z-index: 18;
}
.top10-wall-rtl{
	right: 717px;
}
.top10-wall-ltr{
	left: 717px;
}
.ttcat-btn-cont{
	display: block;
	width: 791px;
	height: 63px;
	overflow: hidden;
}
.ttcat-btn-header{
	display: table;
	width: 100%;
	height: 100%;
	border-width: 3px 0px 0px 3px;
    border-style: solid;
    border-color: #00B4F9;
    border-radius: 10px 0px 0px 0px;
    font-size: 13pt;
}
.ttbh-frame{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.ttbh-frame div{
}
#ttbh-bckgr-pass{
	background-image: -moz-linear-gradient(top, #00adee, #1c4591);
	background-image: -webkit-linear-gradient(top, #00adee, #1c4591);
	color: #FFFFFF;
}
#ttbh-bckgr-pass div{
	padding-left: 23px;
}
#ttbh-bckgr-act{
	background-image: -moz-linear-gradient(top, #F0F0F0, #DFDFDF);
	background-image: -webkit-linear-gradient(top, #F0F0F0, #DFDFDF);
	color: #222222;
}
#ttbh-bckgr-act div{
	padding-left: 7px;
}
#dd-icon{
	background-repeat: no-repeat;
	background-position: 10px 16px;
	background-image: url(http://uadmin.no-ip.biz/graphics/dd_menu_icon.png);
}
.ttcat-btn{
	display: table-cell;
	min-width: 110px;
	max-width: 145px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
}
.ttcat-btn-pass{
	background-repeat: repeat-x;
	background-origin: content-box;
	background-size: contain;
	background-image: url(http://uadmin.no-ip.biz/graphics/top10_btn_pass_bckgr.png);
	color: #ffffff;
}
.ttcat-btn-cell{
	display: table-cell;
	vertical-align: middle;
}
div.wall-placeholder{
    display: none;
}
div.wall-container{
    font-family: Arial,Helvetica,sans-serif;
    direction: ltr;
    position: absolute;
    width: 788px;
    height: 525px;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #00B4F9;
    border-radius: 0px 0px 15px 0px;
    background-color: transparent; 
    z-index: 1;
}
div.wall-fader{
	display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px 0px 15px 0px;
	background-color: #000000;
	opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
}
/* Stores list */
table.wall-products {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-spacing: 10px;
    z-index: 20;
}
td.wall-product {
    border: #00a2db solid 1px;
    border-radius: 10px;
    width: 20%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}
img.wall-product {
    max-width: 100px;
    max-height: 200px;
    z-index: 25;
}
/* Zoomed */
table.wall-zoomed {
    position: absolute;
    left: 18%;
    top: 8%;
    width: 64%;
    height: 84%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background: white;
    z-index: 40;
}
td.wall-zoomed {
    text-align: center;
    vertical-align: middle;
}
img.wall-zoomed {
    max-width: 90%;
    max-height: 90%;
}
table.wall-zoomed-info {
    width: 100%;
    height: 100%;
    border-spacing: 5px;
}
td.wall-info-image {
    height: 85%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
}
div.wall-info-item {
    position: absolute;
    left: 5%;
    top: 76%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
div.wall-info-old-cost {
    position: absolute;
    left: 5%;
    top: 83%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    text-decoration: line-through;
    padding-left: 10px;
    padding-right: 10px;
}
div.wall-info-new-cost {
    position: absolute;
    left: 5%;
    top: 90%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
/* Zoomed - Back side */
table.wall-back-info {
    width: 100%;
    height: 100%;
    border-spacing: 5px;
}
td.wall-back-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
}
td.wall-back-text {
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}
td.wall-back-text-rtl{
	display: table-cell;
	position: absolute; top: 60px; right: 3px;
	height: 250px;
	overflow-y: auto;
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}
div.wall-info-rotate {
    position: absolute;
    left: 75%;
    top: 75%;
    width: 20%;
    height: 20%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background-color: #CDCDCD;
    background-image: url("http://uadmin.no-ip.biz/graphics/wall-rotate.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
}
div.wall-back-rotate {
    position: absolute;
    left: 75%;
    top: 75%;
    width: 20%;
    height: 20%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background-color: #CDCDCD;
    background-image: url("http://uadmin.no-ip.biz/graphics/wall-rotate.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
}
/* Video block */
.video-layer{
	display: block;
	width: 506px;
	height: 385px;
	z-index: 4;
}
.videos-matrix{
	display: block;
	position: absolute; top: 0px;
}
.videos-matrix table{
	width: 790px;
	height: 500px;
}
.videos-matrix-rtl{
	right: 0px;
}
.videos-matrix-ltr{
	left: 0px;
}
.vtrailer-icon{
	display: block;
	width: 246px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	background-size: contain;
	z-index: 5;
}
.video-player{
	display: block;
	position: absolute;
	z-index: 31;
}
.video-close{
	display: block;
	position: absolute;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon_dark_mod.png);
	z-index: 32;
}
.video-player-scrs{
	display: block;
	position: absolute;
	z-index: 11;
}
/* Service icons block */
div#si>div>table>tbody>tr>td>div>table{
	width: 1083px;
}
.si-bckgr{
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-image: -moz-linear-gradient(top, #00aeef, #21428f);
	background-image: -webkit-linear-gradient(top, #00aeef, #21428f);
}
.si-bckgr-pass{
	background-image: -moz-linear-gradient(top, #00aeef, #21428f);
	background-image: -webkit-linear-gradient(top, #00aeef, #21428f);
}
.si-bckgr-act{
	background-image: -moz-linear-gradient(top, #6eef00, #2cab00);
	background-image: -webkit-linear-gradient(top, #6eef00, #2cab00);
}
.si-btn{
	display: inline-block;
	width: 140px;
	height: 140px;
	padding: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	background-size: 100%;
}
/* Banners block */
.bann-layer{
	display: block;
	position: absolute; top: 243px; left: 1550px;
}
.bann-group{
	display: inline-block;
	position: absolute; top: 0px;
}
.bann-group table{
	display: table;
	width: 370px;
	height: 834px;
}
.bann-cell{
	display: block;
	width: 170px;
	height: 105px;
	border-radius: 10px;
	background-repeat: repeat-x;
}
.bann-pass{
	background-image: url(http://uadmin.no-ip.biz/graphics/banner_bckgr_pass.png);
}
.bann-act{
	background-image: url(http://uadmin.no-ip.biz/graphics/banner_bckgr_act.png);
}
.bann-item{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	background-size: 95%;
}
/* Fullscreen block */
.go-fscr{
	display: block;
}
.leave-fscr{
	display: none;
}
.go-fscr, .leave-fscr{
	position: relative; top: 0px;
	margin-top: 14px;
	width: 70px;
	height: 70px;
	background-image: -moz-linear-gradient(bottom , #FF681C, #FF9B68);
	background-image: -webkit-linear-gradient(bottom , #FF681C, #FF9B68);
	border: 2px solid #ffb28c;
	border-radius: 10px;
}
.go-fscr-icon, .leave-fscr-icon{
	display: inline-block;
	position: relative; top: 10px; left: 10px;
	width: 50px;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: contain;
}
.go-fscr-icon{
	background-image: url(http://uadmin.no-ip.biz/graphics/go_fullscreen_mod.png);
}
.leave-fscr-icon{
	background-image: url(http://uadmin.no-ip.biz/graphics/leave_fullscreen_mod.png);
}
.leave-fscr span{
	display: inline-block;
	position: relative; top: 15px; left: 14px;
}
#pan-panel{
	display: none;
	position: relative;
	height: 0px;
	overflow: hidden;
}
/* Popup */
.popup-header{
	font-size: 13px;
	font-weight: bold;
	color: #0099FF;
}
.popup-text{
	font-size: 13px;
}
/* Bankers and currency exchange */
.cit{
	display: inline-block;
	position: absolute; left: 24px;
	width: 94px;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	overflow: hidden;
}
.usd{
	top: 18px;
}
.eur{
	top: 35px;
}
.rur{  
	top: 52px;
}
/* Scale hint */
.scale-hint{
	display: none;
	position: relative; top: -112px; left: -2px;
	width: 127px;
	height: 21px;
	opacity: 0.8;
	z-index: 12;
}
.scale-hint table{
	font-size: 13px;
	color: #FFFFFF;
}
.sh-tr{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid #00008B;
}
.sh-body{
	background-color: #00008B;
	height: 20px;
	padding: 0px 7px 0px 2px;
	text-align: center;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 2px 1px 2px #888;
}
.scale-hint-bckgr{
	display: none;
	position: absolute; top: 197px;
	margin-left: 28px;
	width: 123px;
	height: 166px;
	background-color: transparent;
	z-index: 11;
}
/* Progress & info */
.total-pb-bckgr{
	display: none;
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 30;
}
.pb-icon-cont{
	display: none;
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	z-index: 31;
}
.pb-icon-table{
	display: table;
	position: absolute; top: 0px; left: 0px;
	width: inherit;
	height: inherit;
}
.pb-icon{
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
	text-align: center;
}
.pb-icon div{
	display: inline-block;
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/ajax_loader_mod.png);
}
.msg-box{
	display: none;
	position: absolute; top: 0px;
	width: 450px;
	height: 200px;
	background-color: #FFFFFF;
	border: 5px solid #00B4F9;
	border-radius: 15px;
	z-index: 32;
}
.msg-icon{
	display: inline-block;
	position: absolute; top: 65px; left: 20px;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/info_icon.png);
	color: #0099FF;
	font-size: 48pt;
}
.msg-cls{
	display: inline-block;
	position: absolute; top: -5px; right: -5px;
	width: 70px;
	height: 52px;
	border-radius: 0 15px 0 10px;
	border-width: 1px 1px 0px 0px;
	box-shadow: -1px 1px 2px #4B4B4B;
	background-image: -moz-linear-gradient(top , #D1D2D3, #8D8F92);
	background-image: -webkit-linear-gradient(top , #D1D2D3, #8D8F92);
}
.msg-txt{
	display: table;
	position: absolute; top: 5px; left: 100px;
	width: 270px;
	height: 190px;
}
.msg-txt div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 13pt;
}
/* Drop down list of items */
.ddl-layer{
	display: block;
	position: absolute; left: 535px;
	width: 850px;
	max-height: 950px;
	background-color: #FFFFFF;
	border: 5px solid #00B4F9;
	border-radius: 15px;
	overflow: hidden;
	z-index: 32;
}
.ddl-layer-frame{
	display: inline-block;
	position: relative; left: 15px;
	width: 820px;
	max-height: 880px;
	margin: 18px 0px;
	overflow-x: hidden;
	overflow-y: auto;
}
.ddl-layer ul{
	list-style-type: none;
}
.ddl-layer ul>li{
	display: table;
	position: relative; left: -40px;
	width: 103.5%;
	height: 70px;
}
.ddl-layer ul>li>div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14pt;
}
.ddl-layer ul>li>div>span{
	display: block;
	max-width: 792px;
	max-height: 70px;
	overflow: hidden;
}
.ddl-act{
	background-color: #00B4F9;
	color: #FFFFFF;
}
.ddl-layer-border{
	border-bottom: 1px solid #00B4F9;
}
.ddl-cls-btn, .scrs-cls-btn{
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon_big_mod.png);
	z-index: 32;
}
.ddl-cls-btn{
	right: 360px;
}
.scrs-cls-btn{
	top: 100px;
	right: 100px;
}
/* Screensaver block */
.scrs-cont{
	display: block;
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	z-index: 32;
}
.scrs-comm{
	display: none;
	position: absolute;
}
.scrs-anime-layer>div{
	display: none;
	position: absolute;
}
/* Overview map */
.overview-map-plus, .overview-map-minus{
	display: inline-block;
	position: relative; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.overview-map-plus{
	background-image: url(http://uadmin.no-ip.biz/graphics/plus.png);
}
.overview-map-minus{
	background-image: url(http://uadmin.no-ip.biz/graphics/minus.png);
}
