@CHARSET "UTF-8";
body{
	position: absolute; left: -8px; top: -8px;
	background-color: #FFFFFF;
	color: #000000;
    font: 13px/1.4 Verdana,Arial,Helvetica,sans-serif;
    -moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	width: 100%;
}
div{
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
a{
	text-decoration: none;
}
/* Custom scrollbars for Webkit based browsers */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px gray; 
    border-radius: 3px;*/
	background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
    opacity: 0.7;
}
::-webkit-input-placeholder {
   color: #0099CC;
}
#smap{
	display: block;
	position: relative;
    top: -8px;
    left: 4px;
	width: 708px;
	height: 606px;
	background-color: #f4f3f0;
	border: 1px solid #D5D7DA;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #979797;
	overflow: hidden;
	z-index: 1;
}
.mbody{
	display: inline-block;
	max-width: 1197px;
	max-height: 628px;
	overflow: hidden;
}
.unc{
	display: table;
	width: 1200px;
}
.hide-layer{
	display: none;
}
.mp-logo{
	display: inline-block;
	position: relative; top: 15px; right: 213px;
	width: 270px;
	height: 56px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/logo.png);
	cursor: pointer;
}
/* Header block */
.header-bckgr{
	display: table;
	position: absolute; left: 0px; top: 35px;
	width: 100%;
	height: 148px;
}
.header-bckgr>div:first-child{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-repeat: repeat-x;
	background-image: url(http://uadmin.no-ip.biz/graphics/header_bckgr.png);
}
.header-bckgr>div:first-child>div:first-child{
	display: inline-block;
	width: 1185px;
	height: 100%;
}
.bottom-bckgr{
	display: table;
	position: relative;
	width: 100%;
	height: 275px;
}
.bottom-bckgr>div:first-child{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.bottom-bckgr>div:first-child>table{
	display: inline-table;
}
.bottom-bckgr>div:first-child>table>tbody>tr>td>div{
	display: inline-block;
	background-image: -moz-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #F0F0F0);
	background-image: -o-linear-gradient(top, #F9F9F9, #F0F0F0);
	width: 230px;
	height: 150px;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.bottom-bckgr>div:first-child>table>tbody>tr>td>div:hover{
	background-image: -moz-linear-gradient(top, #F9F9F9, #E0E0E0);
	background-image: -webkit-linear-gradient(top, #F9F9F9, #E0E0E0);
	background-image: -o-linear-gradient(top, #F9F9F9, #E0E0E0);
}
.bottom-bckgr>div:first-child>table>tbody>tr>td>div>div{
	display: inline-block;
	width: inherit;
	height: inherit;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	background-size: contain;
	cursor: pointer;
}
.bottom-bckgr>div:first-child>table>tbody>tr:first-child>td>div{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	background-size: contain;
	width: 950px;
	height: 40px;
	box-shadow: none;
}
.shadow-strip-up, .shadow-strip-bottom{
	display: block;
	width: 100%;
	height: 10px;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.shadow-strip-up{
	background-image: url(../../../graphics/shadow_down.png);
}
.shadow-strip-bottom{
	z-index: 1;
}
.search-field{
	display: inline-block;
	position: relative; top: 10px; left: 232px;
}
.search-td{
	width: 647px;
}
.search-field input{
	position: relative; left: 9px;
	width: 370px;
	height: 27px;
	color: #235D92;
	background-color: #FFFFFF;
	border-radius: 13px 0px 0px 13px;
	border-color: #A3A3A3 #C6C6C6 #E5E5E5;
	border-collapse: separate;
	border-style: solid;
	border-width: 1px;
	outline: medium none;
    box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    background: url(http://uadmin.no-ip.biz/graphics/magnifier.png) no-repeat scroll 8px center white;
    padding-left: 25px;
    font-size: 14px;
}
.sch-field:focus {
    outline: none;
}
.sch-field {
    width: 70%;
    height: 27px;
    font-size: 11px;
    border-radius: 6px 0px 0px 6px;
    background: rgba(0,0,0, 0.1);
    box-shadow: none;
    border: none;
    padding-left: 10px;
    color: #acb1c2;
    -webkit-text-fill-color: #acb1c2;
}
.sch-btn {
    display: inline-block;
    position: relative;
    top: -1px;
    left: -6px;
    width: 60px;
    height: 22px;
    color: #ACB1C2;
    font-size: 11px;
    text-align: center;
    background-repeat: repeat-x;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    padding: 5px 0px 0px 0px;
    border-left: 1px solid rgba(0,0,0,0.15);
}
.sch-btn:hover{
	background-image: url(http://uadmin.no-ip.biz/graphics/sec_menu_btn_hover.png);
	color: #426293;
}
.sch-btn span{
	display: table-cell;
	vertical-align: middle;
}
.header-strip{
	display: block;
	height: 54px;
	width: 100%;
	background: rgb(82,127,164); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(82,127,164,1) 0%, rgba(49,96,136,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,127,164,1)), color-stop(100%,rgba(49,96,136,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(82,127,164,1) 0%,rgba(49,96,136,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(82,127,164,1) 0%,rgba(49,96,136,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(82,127,164,1) 0%,rgba(49,96,136,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(82,127,164,1) 0%,rgba(49,96,136,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527fa4', endColorstr='#316088',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px #606060;
}
.header-strip table {
	display: table;
	width: 100%;
    height: 54px;
    border: none;
    border-spacing: 0px;
}
.header-strip table tr td {
    width: 10%;
    vertical-align: middle;
    text-align: center;
}
.header-cell-home {
    width: 176px !important;
    vertical-align: middle;
    text-align: center;
}
.header-cell-search {
    width: auto !important;
    vertical-align: middle;
    text-align: center;
}
.home-page-btn {
    background-image: url(http://info.barabashovo.ua/wp-content/uploads/2013/09/tcb-logo.png);
    width: 180px;
    height: 54px;
	display: table;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #365b7a;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
    color: #FFFFFF;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
}
.home-page-btn:hover, .register-btn:hover, .login-btn:hover{
	background-color: #6e93b1;
}
.register-btn{
	display: table;
	width: 165px;
	height: 23px;
	color: #FFFFFF;
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    border: 1px solid #365b7a;
    border-radius: 10px 0px 0px 10px;
	text-align: center;
	cursor: pointer;
}
.login-btn{
	display: table;
	text-align: center;
	width: 60px;
	height: 23px;
	color: #FFFFFF;
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    border-width: 1px 1px 1px 0px;
    border-style: solid; 
    border-color: #365b7a;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.home-page-btn span, .register-btn span, .login-btn span{
	display: table-cell;
	vertical-align: middle;
}
/* Login */
.sw-body{
	display: none;
	position: absolute;
	z-index: 31;
	background-color: #FFFFFF;
	border-radius: 15px;
}
.sw-body table>tbody>tr>td{
	display: table-cell;
	padding: 0px 10px;
}
.sw-body table>tbody>tr:last-child>td:first-child{
	width: 70px;
	text-align: center;
}
.sw-body table>tbody>tr:first-child>td>div:first-child{
	display: inline-table;
	background-image: -moz-linear-gradient(top, #479bc8, #2e8ab9);
	background-image: -webkit-linear-gradient(top, #479bc8, #2e8ab9);
	background-image: -o-linear-gradient(top, #479bc8, #2e8ab9);
	width: 280px;
	height: 37px;
	color: #FFFFFF;
	border-radius: 10px;
	margin: 10px 0px;
}
.sw-body table>tbody>tr:first-child>td>div:first-child>span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.sw-body-txt{
	width: 280px;
	height: 29px;
	border-style: solid;
    border: 1px solid #BBBBBB;
	border-radius: 7px;
	font-size: 13px;
	color: #0099CC;
	background-color: #FFFFFF;
	box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	margin-bottom: 10px;
	padding: 0px 5px;
}
.sw-body div>div:first-child{
	display: table-cell;
	min-width: inherit;
	min-height: inherit;
	vertical-align: middle;
}
.sw-body a{
	color: #0099FF;
	text-decoration: none;
	font-size: 13px;
	line-height: 0.95em;
}
.sw-body a:hover{
	text-decoration: underline;
}
.login-cls{
	display: inline-block;
	position: absolute; top: -25px; left: 283px;
}
.sw-btn{
	position: relative; left: -4px; top: 0px;
	width: 60px;
	height: 25px;
	border: none;
	border-radius: 5px;
	background-image: -moz-linear-gradient(top, #7abce2, #6ca4c9);
	background-image: -webkit-linear-gradient(top, #7abce2, #6ca4c9);
	background-image: -o-linear-gradient(top, #7abce2, #6ca4c9);
	padding-bottom: 3px;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}
/* Mode buttons */
.mbtns{
	display: inline-block;
	position: relative; top: 27px; left: -1px;
}
.mbtns>table>tbody>tr>td>div{
	display: inline-table;
	width: 180px;
	height: 34px;
	text-transform: uppercase;
	border-right: 1px solid rgba(0,0,0,0.4);
}
.map-btn-pass:hover, .lang-btn-pass:hover, .drum-btn-pass:hover, .lott-btn-pass:hover, .hd-btn-pass:hover{
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 5) inset;
}
.mbtns>table>tbody>tr>td:first-child>div{
	border-radius: 5px 0px 0px 5px;
}
.mbtns>table>tbody>tr>td:last-child>div{
	border-radius: 0px 5px 5px 0px;
	border-right-width: 0px;
}
.mbtns div>div{
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	overflow: hidden;
}
/* Main window */
.mw{	
	display: table-cell;
	vertical-align: top;
	min-width: 720px;
}
.bann-td{
	display: table-cell;
	width: 200px;
}
.pi-td{
	display: table-cell;
	height: 10px;
}
/* Categories Control Panel */
.hncat{
	display: block;
	position: relative;	top: -16px; left: 2px;
	margin-right: 5px;
	height: 605px;
	z-index: 10;
}
.hncat-cell{
	display: table-cell;
	max-width: 300px;
	height: 649px;
}
.cbtn, .sibtn{
	display: block;
	position: inherit;
	margin-bottom: 0px;
	width: 285px;
	height: 50px;
	margin: 0.5px 0px;
	border-radius: 5px;
	color: #000000;
	font-size: 10pt;
	cursor: pointer;
}
.cbtn table{
	width: 290px;
	height: 100%;
	font-size: 13px;
}
.sibtn table{
	width: 100%;
	height: 100%;
	font-size: 13px;
}
.cbtn-icon-cell, .sibtn-icon-cell{
	width: 48px;
}
.cbtn-name, .sibtn-name{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 5px;
	height: 50px;
	overflow: hidden;
}
.cbtn-icon, .sibtn-icon{
	display: block;
	position: relative; top: 0px; left: -4px;
	width: 100%;
	height: 100%;
	margin-left: 4px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.ci-cont-bckgr{
	display: block;
	position: relative; top: 0px;
	width: 48px;
	height: 50px;
	border-radius: 5px 0px 0px 5px;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #b6b8ba;
	background-image: -moz-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -webkit-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -o-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	z-index: 3;
}
.cn-cont-bckgr{
	display: inline-block;
	width: 235px;
	height: 50px;
	background-color: #6ecff6;
    border: 1px solid #2f8cbb;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 7px #5cadce inset;
}
.cbtn-act, .cbtn-act2, .sibtn-act, .sibtn-act2, .img-filter-act, .img-filter-act2, .lang-elem-act, .lang-elem-act2{
	background-color: #6ecff6;
    border: 1px solid #2f8cbb;
    box-shadow: 0px 1px 7px #5cadce inset;
}
.cbtn-pass, .sibtn-pass, .lang-elem-pass{
	border: 1px solid #b6b8ba;
	background-image: -moz-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -webkit-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -o-linear-gradient(bottom, #c0c1c4, #f4f4f5);
}
.sibtn-pass{
	border: 1px solid #b6b8ba;
	cursor: default;
}
/* Main Control Panel */
.info-btn{
	display: inline-block; 
	position: relative; top: 0px;
	width: 100%;
	padding: 5px 0px;
	font-size: 11px;
	color: #575757;
	text-align: center;
}
/* Minisite window */
.minisite-cont{
	display: block;
}
.minisite{
	display: inline-block;
	position: relative; top: 10px;
	width: 670px;
	height: 588px;
	border: 1px solid #96999c;
	border-radius: 5px;
	background-color: #f2f1f0;
	box-shadow: 0 0 3px #888;
	z-index: 17;
}
.minisite-rtl{
	right: 23px;
}
.minisite-ltr{
	left: 23px;
}
.cls-btn-cross{
	display: table;
	position: absolute; top: 5px;
	z-index: 5;
}
.cls-btn-cross-rtl{
	right: 500px;
}
.cls-btn-cross-ltr{
	left: 625px;
}
.cls-btn-icon{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.cls-btn-icon-dark{
	display: block;
	width: 45px;
	height: 45px;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon_dark.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
.info-uplayer{
	display: table;
	position: relative; top: 0px;
	height: 195px;
	color: #007eb2;
	font-size: 13px;
	overflow: hidden;
	z-index: 4;
}
.info-uplayer-rtl{
	right: 0px;
}
.info-uplayer-ltr{
	left: 157px;
}
.info-frame{
	display: table-cell;
	vertical-align: middle;
}
.info-content{
	position: relative; top: 0px;
	max-width: 468px;
	max-height: 195px;
	overflow: hidden;
}
#asc-stdescr{
	height: 195px;
}
.info-text{
	display: inline-block;
	position: relative;
}
.info-text div{
	max-width: 468px;
}
.info-uplayer span{
	color: #ff0000;
}
.pct-uplayer{
	display: block;
	position: absolute; top: 195px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 506px;
	height: 385px;
	z-index: 4;
}
.pct-uplayer-rtl{
	right: 0px;
}
.pct-uplayer-ltr{
	left: 157px;
}
.showcase{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-size: cover;
}
.showcase-rtl{
	background-position: left center;
}
.showcase-ltr{
	background-position: right center;
}
.logo-uplayer{
	display: block;
	position: absolute; top: 0px;
	width: 142px;
	height: 195px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
	background-size: contain;
	z-index: 4;
}
.logo-uplayer-rtl{
	right: 7px;
}
.logo-uplayer-ltr{
	left: 7px;
}
.name-uplayer{
	display: block;
	position: absolute; top: 333px;
	width: 260px;
	color: #ff0000;
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	z-index: 4;
}
.name-uplayer-rtl{
	right: 430px;
}
.name-uplayer-ltr{
	left: 450px;
}
.description{
	width: 97%;
}
.sbtns-uplayer{
	display: block;
	position: absolute; top: 195px;
	min-width: 142px;
	height: 391px;
	z-index: 4;
}
.sbtns-uplayer-rtl{
	right: 0px;
}
.sbtns-uplayer-ltr{
	left: 7px;
}
.sm-btn{
	position: absolute;
	display: table;
	position: absolute;
	width: 140px;
	height: 50px;
	border-radius: 5px;
	color: #000000;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
	z-index: 5;
}
.sm-btn-pass{
	background-image: -moz-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -webkit-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -o-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	border: 1px solid #B6B8BA;
}
.sm-btn div{
	display: table-cell;
	vertical-align: middle;
}
/* buttons places. end */
.minisite-btn-act{
	background-color: #939598;
	border-left-color: #716f6f;
	border-top-color: #716f6f;
	border-right-color: #d7d7d7;
	border-bottom-color: #d7d7d7;
	box-shadow:	#4b4b4b 5px 5px 5px inset;
}
.work-time{
	display: block;
	width: 600px;
}
.work-time span{
	color: #ff0000;
}
.ud-arr{
	display: none;
	position: absolute;
	width: 53px;
	height: 51px;
	border-radius: 5px;
	text-align: center;
	z-index: 5;
}
.ud-arr-rtl{
	left: 406px;
}
.ud-arr-ltr{
	right: 406px;
}
.ud-arr-pass{
	background-image: -moz-linear-gradient(top, #00a7e8, #234090);
	background-image: -webkit-linear-gradient(top, #00a7e8, #234090);
}
.ud-arr-pass div{
	border-color: #ffffff;
}
.ud-arr-act{
	background-color: #dcdcdc;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 5) inset;
}
.ud-arr-act div{
	border-color: #222222;
}
#info-arr-up{
	top: 326px;
}
#info-arr-up div{
	display: inline-block;
	position: relative;
	margin: 17px 5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom-width: 15px;
	border-bottom-style: solid;
}
#info-arr-down{
	top: 386px;
}
#info-arr-down div{
	display: inline-block;
	position: relative;
	margin: 20px 5px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top-width: 15px;
	border-top-style: solid;
}
.store-anime{
	display: inherit;
	position: relative; top: 52px; left: 5px;
	width: 700px;
	height: 393px;
	z-index: 20;		
}
/* Stores list window */
.list-cont{
	display: inline-block;
	position: relative; top: 13px; left: 9px;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #979a9d;
	width: 700px;
	height: 607px;
	box-shadow: 0 0 3px #888;
	background-image: url(http://uadmin.no-ip.biz/graphics/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 4;
}
.store-btn-bckgr{
	display: table;
	width: 658px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}
.store-btn-bckgr-pass{
	border: 1px solid #878787;
	background-color: #f8f8f8;
}
.store-btn-frame{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 0px 5px; 
}
.store-btn{
	display: inline-block;
	position: relative; top: 0px;
	max-height: 20px;
	overflow: hidden;
	font-size: 13px;
	color: #000000;
}
.subcat-container, .sch-container{
	display: block;
	position: relative; top: 45px;
	padding: 5px;
	min-width: 700px;
	min-height: 540px;
	z-index: 6;
}
.subcat-container-rtl, .sch-container-rtl{
	right: -25px;
}
.subcat-container-ltr, .sch-container-ltr{
	left: -25px;
}
.promo-list{
	width: 100%;
	height: 100%;
	background-origin: content-box;
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center center;
}
.close-wall{
	display: block;
	position: relative; top: -47px;
	width: 40px;
	height: 40px;
	z-index: 7;
}
.close-wall-rtl{
	right: 675px;
}
.close-wall-ltr{
	left: 675px;
}
/* real stores :)  */
.rst-list-cont{
	display: block;
	position: absolute; top: 52px;
	z-index: 6;
}
.rst-el{
	display: table;
	width: 156px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 3px;
}
.rst-el div{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-origin: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.rst-el div>span{
	display: block;
	position: relative; top: -2px;
	max-width: 156px;
	max-height: 36px;
	font-size: 13px;
	text-align: center;
	overflow: hidden;
}
.rst-el-pass{
	border: 1px solid #878787;
	background-color: #F8F8F8;
}
.show-st-list{
	display: none;
	position: absolute;
    top: 635px;
	margin-left: 10px;
	width: 170px;
	height: 42px;
	border: 1px solid #c37650;
	border-radius: 5px;
	text-align: center;
	color: #000000;
	font-size: 13px;
	cursor: pointer;
	z-index: 10;
}
.show-st-list div{
	display: inline-table;
	width: 100%;
	height: 100%;
}
.show-st-list div>div:first-child{
	display: table-cell;
	width: inherit;
	height: inherit;
	text-align: center;
	vertical-align: middle;
}
.show-st-list-pass, .add-cbtn-pass{
	background-image: -moz-linear-gradient(bottom, #ff681c, #ff9b68);
	background-image: -webkit-linear-gradient(bottom, #ff681c, #ff9b68);
	background-image: -o-linear-gradient(bottom, #ff681c, #ff9b68);
	box-shadow: 0 0 3px #888;
}
.show-st-list-act, .add-cbtn-act{
	background-image: -moz-linear-gradient(top, #ff681c, #ff9b68);
	background-image: -webkit-linear-gradient(top, #ff681c, #ff9b68);
	background-image: -o-linear-gradient(top, #ff681c, #ff9b68);
	box-shadow: 0px 1px 3px #888 inset;
}
/* Additional category buttons */
.add-cbtn-cont{
	display: none;
	position: absolute;
    top: 637px;
	margin-left: 10px;
	width: 315px;
	height: 45px;
	z-index: 10;
}
.add-cbtn, .add-tt-btn{
	display: inline-block;
	width: 150px;
	height: 30px;
	padding-top: 12px;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}
.add-cbtn{
	border-radius: 5px 0px 0px 5px;
}
.add-tt-btn{
	border-radius: 0px 5px 5px 0px;
}
/* Stores listing block */
.slides-scope{
	display: block;
	position: absolute;
	margin-top: 10px;
	width: 701px;
	height: 540px;
	overflow: hidden;
}
#scats, #schlist{
	top: -7px;
	left: 25px;
}
#stores, #filter-stores{
	top: -11px;
	left: 0px;
}
#si{
	top: 43px;
	left: 0px;
}
.back2scat{
	display: block;
	position: relative; top: 0px; left: 0px;
	margin-right: 22px;
	cursor: pointer;
	padding: 11px 0px 10px 45px;
	font-size: 13px;
	color: #0099FF;
	overflow: hidden;
	width: 66px;
	height: 23px;
	background-repeat: no-repeat;
	background-position: 16% 49%;
	background-image: url(http://uadmin.no-ip.biz/graphics/escape.png);
	background-color: #d0d0d0;
}
.slides-cont{
	display: inline-block;
	position: relative;
}
.slide-cell{
	display: inline-block;
	padding: 10px 17px;
	width: 653px;
	height: 540px;
	vertical-align: top;
}
.ls-header{
	display: block;
	border-radius: 4px 4px 0px 0px;
	position: absolute; top: -45px; left: 25px;
	width: 700px;
	min-height: 44px;
	background-color: #E9E9E9;
}
.list-slider{
	display: inline-block;
	position: absolute; top: 0px;
}
.list-slider-rtl{
	right: 22px;
}
.list-slider-ltr{
	left: 22px;
}
.ls-btn{
	display: inline-block;
	width: 22px;
	height: 20px;
	margin: 2px 3px;
	padding-top: 1px;
	font-size: 10pt;
	text-align: center;
	cursor: pointer;
}
.ls-btn-valign{
	position: relative; top: 10px;
}
.ls-btn-pass{
	background-color: #d0d0d0;
	color: #0099FF;
}
.ls-btn-act, .ls-btn-act2{
	background-color: #666666;
	color: #FFFFFF;
}
.ls-btn-scope{
	display: inline-block;
	width: 280px;
	overflow: hidden;
}
.ls-btn-cont{
	display: inline-block;
	position: relative;
}
.ls-move{
	display: block;
	position: relative; top: -3px;
	margin: 0px 8px;
	font-size: 14pt;
	color: #0099FF;
	cursor: pointer;
}
.ls-move-pass{}
.ls-move-act{
	display: none;
}
.no-results{
	display: block;
	margin: 7px 15px;
	font-size: 13px;
}
.rst-list-cont{
	display: block;
}
/* Top10 wall */
.top10-wall{
	display: block;
	position: relative; top: 14px;
}
.top10-wall-rtl{
	left: 7px;
}
.top10-wall-ltr{
	right: 7px;
}
.ttcat-btn-header{
	position: absolute; top: 7px; left: 12px;
	display: inline-block;
	width: 695px;
	height: 38px;
	padding-left: 10px;
	padding-top: 10px;
	border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #00a2db;
    border-radius: 10px 10px 0px 0px;
    background-color: #F4F4F5;
}
.ttcat-btn{
	display: table-cell;
	min-width: 110px;
	max-width: 145px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
}
.ttcat-btn-pass{
	background-repeat: repeat-x;
	background-origin: content-box;
	background-size: contain;
	background-image: url(http://uadmin.no-ip.biz/graphics/top10_btn_pass_bckgr.png);
	color: #ffffff;
}
.ttcat-btn-cell{
	display: table-cell;
	vertical-align: middle;
}
.cls-wall-btn{
	display: inline-block;
	position: absolute; top: 7px; right: 7px;
}

/* Andrew's part */
div.wall-placeholder {
    display: none;
}

div.wall-container {
    font-family: Arial,Helvetica,sans-serif;
    position: absolute;
    border-color: #00a2db;
    border-style: solid;
    border-width: 0px 2px 2px 2px;  
    border-radius: 0px 0px 13px 13px;
    background-color: #f7feff;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

div.wall-fader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px 0px 10px 10px;
    background-color: #FFFFFF;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
}

/* Stores list */
div.scrollable {
    position: absolute;
    height: 96%;
    z-index: 20;
}
table.wall-products {
    position: absolute;
    border: none;
    border-spacing: 10px;
    border-collapse: expression('separate', cellSpacing = '10px');
    margin: 0px;
    z-index: 20;
}
td.wall-product {
    border: #00a2db solid 1px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
img.wall-product {
    z-index: 25;
}
div.wall-pager {
    position: absolute;
    top: 96%;
    width: 100%;
    height: 4%;
    border: none;
    border-spacing: 10px;
    border-collapse: expression('separate', cellSpacing = '10px');
    text-align: center;
    z-index: 20;
}
table.wall-pager {
    display: inline;
    margin: 0px;
    padding: 0px;
    border: none;
    border-spacing: 0px;
}
.wall-pager-item {
    display: inline;
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #00a2db;
    color: darkblue;
    text-align: center;
    overflow: hidden;
}

.wall-pager-item-active {
    display: inline;
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #00a2db;
    color: white;
    text-align: center;
    overflow: hidden;
}

/* Zoomed */

table.wall-zoomed {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 80%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background: white;
    z-index: 40;
}
td.wall-zoomed {
    text-align: center;
    vertical-align: middle;
}
img.wall-zoomed {
    max-width: 90%;
    max-height: 75%;
}

table.wall-zoomed-info {
    width: 100%;
    height: 100%;
    border-spacing: 5px;
    border-collapse: expression('separate', cellSpacing = '5px');
}

td.wall-info-image {
    height: 85%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
}

div.wall-info-item {
    position: absolute;
    left: 5%;
    top: 76%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

div.wall-info-old-cost {
    position: absolute;
    left: 5%;
    top: 83%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    text-decoration: line-through;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

div.wall-info-new-cost {
    position: absolute;
    left: 5%;
    top: 90%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

/* Zoomed - Back side */

.wall-back-info {
    width: 100%;
    height: 100%;
    border-spacing: 5px;
    border-collapse: expression('separate', cellSpacing = '5px');
    overflow: auto;
}
.wall-back-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
}
.wall-back-text {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 0px;
    overflow: auto;
}

div.wall-info-rotate {
    position: absolute;
    left: 75%;
    top: 75%;
    width: 20%;
    height: 20%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background: lightgray;
    background-image: url(http://uadmin.no-ip.biz/graphics/wall-rotate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 50;
}
div.wall-back-rotate {
    position: absolute;
    left: 75%;
    top: 75%;
    width: 20%;
    height: 20%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background: lightgray;
    background-image: url(http://uadmin.no-ip.biz/graphics/wall-rotate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 50;
}
/* End of Top10 */
/* Zoomed */
table.wall-zoomed {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 80%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background: white;
    z-index: 40;
}
td.wall-zoomed {
    text-align: center;
    vertical-align: middle;
}
img.wall-zoomed {
    max-width: 90%;
    max-height: 90%;
}
table.wall-zoomed-info {
    width: 100%;
    height: 100%;
    border-spacing: 5px;
}
td.wall-info-image {
    height: 85%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
}
div.wall-info-item {
    position: absolute;
    left: 5%;
    top: 76%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
div.wall-info-old-cost {
    position: absolute;
    left: 5%;
    top: 83%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    text-decoration: line-through;
    padding-left: 10px;
    padding-right: 10px;
}
div.wall-info-new-cost {
    position: absolute;
    left: 5%;
    top: 90%;
    width: 60%;
    height: 6%;
    border: none;
    border-radius: 10px;
    background-color: #00a2db;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
/* Zoomed - Back side */
table.wall-back-info {
    width: 100%;
    height: 100%;
    border-spacing: 5px;
}
td.wall-back-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
}
td.wall-back-text {
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}
td.wall-back-text-rtl{
	display: table-cell;
	position: absolute; top: 60px; right: 3px;
    text-align: left;
    height: 250px;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.wall-info-rotate {
    position: absolute;
    left: 75%;
    top: 75%;
    width: 20%;
    height: 20%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background-color: #CDCDCD;
    background-image: url("http://uadmin.no-ip.biz/graphics/wall-rotate.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 50;
}
div.wall-back-rotate {
    position: absolute;
    left: 75%;
    top: 75%;
    width: 20%;
    height: 20%;
    border: #00a2db solid 3px;
    border-radius: 10px;
    background-color: #CDCDCD;
    background-image: url("http://uadmin.no-ip.biz/graphics/wall-rotate.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 50;
}
/* Price list */
.plist-cont{
	display: block;
	position: relative; left: 156px;
	width: 506px;
	height: 385px;
	background-image: url(http://uadmin.no-ip.biz/graphics/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.price-list{
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#asc-plist{
	height: 385px;
}
.plist-elem{
	display: table;
	width: 490px;
	height: 40px;
	margin: 5px 3px;
	padding: 0px 5px;
	text-align: left;
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
}
.plist-elem div{
	display: table-cell;
	vertical-align: middle;
}
.plist-elem div>span{
	display: inline-block;
	max-height: 35px;
	overflow-y: hidden;
}
.plist-elem-act{
	background-color: #6ecff6;
}
.plist-elem-pass{
	background-color: #d8d7d6;
}
/* Video block */
.video-layer{
	display: block;
	width: 506px;
	height: 385px;
	z-index: 4;
}
.videos-matrix{
	display: block;
	position: absolute; top: 60px;
}
.videos-matrix-rtl{
	right: 0px;
}
.videos-matrix-ltr{
	left: 0px;
}
.vtrailer-icon{
	display: block;
	width: 156px;
	height: 94px;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
	background-size: contain;
	cursor: pointer;
	z-index: 5;
}
.video-player{
	display: block;
	position: fixed;
	z-index: 31;
}
.video-close{
	display: block;
	position: fixed;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon_dark.png);
	cursor: pointer;
	z-index: 32;
}
/* Service icons block */
.si-bckgr{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	margin: 0px 1px;
	cursor: pointer;
}
.si-bckgr span{
	display: none;
}
.si-bckgr-pass{
	background-image: -moz-linear-gradient(top, #f4f4f5, #c0c1c4);
	background-image: -webkit-linear-gradient(top, #f4f4f5, #c0c1c4);
	border: 1px solid #B6B8BA;
}
.si-bckgr-act{
	background-image: -moz-linear-gradient(top, #6eef00, #2cab00);
	background-image: -webkit-linear-gradient(top, #6eef00, #2cab00);
	border: 1px solid #2F8CBB;
}
.si-btn{
	display: inline-block;
	width: 90px;
	height: 90px;
	padding: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
}
/* Banners block */
.bann-layer{
	display: block;
	position: relative; top: 5px; left: -6px;
	cursor: pointer;
}
.bann-group{
	display: inline-block;
	position: absolute; top: 4px; left: 11px;
	z-index: 2;
}
.bann-cell{
	display: inline-block;
	position: relative;
	width: 168px;
	height: 80px;
	margin: 4px 0px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #979797;
	background-repeat: no-repeat;
	background-position: center center;
}
/* Fullscreen block */
.go-fscr{
	display: block;
	position: relative; top: 14px; left: 694px;
	width: 20px;
	height: 20px;
	background-color: #00008b;
	background-image: url(http://uadmin.no-ip.biz/graphics/go_fullscreen.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px;
	cursor: pointer;
	z-index: 10;
}
.leave-fscr{
	display: block;
	position: absolute; top: 5px; right: 5px;
	width: 300px;
	height: 50px;
	background-color: #00008b;
	color: #FFFFFF;
	font-size: 13px;
	cursor: pointer;
	border-radius: 5px;
	background-image: url(http://uadmin.no-ip.biz/graphics/leave_fullscreen.png);
	background-position: 262px 12px;
	background-repeat: no-repeat;
	z-index: 16;
}
.leave-fscr span{
	display: inline-block;
	position: relative; top: 15px; left: 14px;
}
/* Popup */
.popup-header{
	font-size: 13px;
	font-weight: bold;
	color: #0099FF;
}
.popup-text{
	font-size: 13px;
}
/* Bankers and currency exchange */
.cit {
    position: absolute;
    left: 17px;
    top: 3px;
    font-size: 6pt;
    font-weight: normal;
    color: black;
    text-align: left;
}
/* Scale hint */
.scale-hint{
	display: none;
	position: relative; top: -112px; left: -2px;
	width: 150px;
	height: 21px;
	cursor: pointer;
	opacity: 0.8;
	z-index: 12;
}
.scale-hint table{
	font-size: 13px;
	color: #FFFFFF;
}
.sh-tr{
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid #00008B;
}
.sh-body{
	background-color: #00008B;
	height: 20px;
	padding: 0px 7px 0px 2px;
	text-align: center;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 2px 1px 2px #888;
}
.scale-hint-bckgr{
	display: none;
	position: absolute; top: 294px;
	margin-left: 39px;
	width: 123px;
	height: 166px;
	background-color: transparent;
	z-index: 11;
}
/* Progress & info */
.total-pb-bckgr{
	display: none;
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 30;
}
.pb-icon-cont{
	display: none;
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	z-index: 31;
}
.pb-icon-table{
	display: table;
	position: absolute; top: 0px; left: 0px;
	width: inherit;
	height: inherit;
}
.pb-icon{
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: top;
	text-align: center;
}
.pb-icon div{
	display: inline-block;
	position: fixed;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/ajax_loader_web.png);
}
.msg-box{
	display: none;
	position: fixed; top: 0px;
	width: 390px;
	min-height: 150px;
	padding: 5px 0px; 
	background-color: #FFFFFF;
	border-radius: 15px;
	z-index: 31;
}
.msg-icon{
	display: inline-block;
	position: absolute; top: 45px; left: 20px;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/info_icon.png);
	color: #0099FF;
	font-size: 48pt;
}
.msg-cls{
	display: inline-block;
	position: absolute; top: 10px; right: 10px;
}
.msg-txt{
	display: table;
	position: absolute; top: 5px; right: 67px;
	width: 230px;
	height: 140px;
}
.msg-txt div{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-size: 13px;
}
/* Image filter */
.filter-cont{
	display: block;
	position: relative; top: 3px; left: 550px;
}
.img-filter, .full-list{
	display: block;
	position: absolute; top: 0px;
	width: 35px;
	height: 35px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}
.img-filter{
	left: 45px;
}
.full-list{
	left: 0px;
}
.img-filter-pass{
	border-color: #b6b8ba;
	background-image: -moz-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -webkit-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	background-image: -o-linear-gradient(bottom, #c0c1c4, #f4f4f5);
	cursor: pointer;
}
.img-filter-icon, .full-list-icon{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.img-filter-icon{
	background-image: url(http://uadmin.no-ip.biz/graphics/img_filter.png);
}
.full-list-icon{
	background-image: url(http://uadmin.no-ip.biz/graphics/full_list.png);
}
.img-filter-act2{
	cursor: pointer;
}
/* Screensaver block */
.scrs-cont{
	display: block;
	position: absolute; top: 0px; left: 0px;
	width: 100%;
	height: 100%;
	z-index: 32;
}
.scrs-comm{
	display: none;
	position: absolute;
	cursor: pointer;
}
.scrs-anime-layer>div{
	display: none;
	position: absolute;
	cursor: pointer;
}
.scrs-cls-btn{
	display: block;
	position: absolute; top: 50px;	right: 50px;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/graphics/cls_icon_big_web.png);
	cursor: pointer;
	z-index: 32;
}
/* Language block */
.lang-panel{
	display: none;
	position: absolute;
	width: 450px;
	height: 150px;
	background-color: #FFFFFF;
	border-radius: 15px;
	z-index: 31;
}
.lang-panel ul{
	position: absolute; top: 63px; left: 23px;
	list-style-type: none;
}
.lang-panel ul>li{
	float: left;
	margin-left: 15px;
}
.lang-elem{
	display: inline-table;
	width: 180px;
	height: 48px;
	border-radius: 5px;
	cursor: pointer;
}
.lang-elem div{
	display: table-cell;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	vertical-align: middle;
}
.lang-cls{
	display: inline-block;
	position: absolute; top: 10px; right: 10px;
	z-index: 32;
}
/* Measurement Tools */
.measure-switch{
	display: block;
	position: relative; left: 19px; top: 348px;
	width: 24px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	z-index: 10;
}
.measure-pass{
	background-image: url(http://uadmin.no-ip.biz/js/img/ruler.png);
}
.measure-act{
	background-image: url(http://uadmin.no-ip.biz/js/img/ruler_act.png);
}
.measure-cont{
	display: none;
	position: absolute; left: 0px; top: 0px;
	width: 208px;
	padding-top: 3px;
	padding-left: 5px;
	height: 23px;
	background-color: #FFFFFF;
	opacity: 0.9;
	border-radius: 5px;
	color: #000000;
	font-size: 13px;
	border: 1px solid #B6B8BA;
	z-index: 10;
}
.measure-cls{
	display: inline-block;
	position: absolute; top: 4px; right: 4px;
	width: 17px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://uadmin.no-ip.biz/js/img/close.gif);
	border-radius: 10px;
	cursor: pointer;
}
.wall-container {
    border-radius: 0px 0px 13px 13px !important;
    border-width: 2px !important;
}