@CHARSET "UTF-8";
.plus-sign span{
	position: relative;
}
.plus-sign-rtl span{
	top: -14px;
	left: -1px;
}
.plus-sign-ltr span{
	top: -10px;
	right: 0px;
}
.minus-sign span{
	position: relative; 
}
.minus-sign-rtl span{
	left: -1px;
	top: -10px;
}
.minus-sign-ltr span{
	right: 0px;
	top: -9px;
}
